.subpage-contact{
    padding-bottom: $main-padding;
    text-align: center;
	&__address{
        overflow: hidden;
        @include borderOnImage();
        @include box-shadow();
        display: table;
        padding-bottom: 60px;
        &--logo{
            img{
                max-width: 200px;
            }
        }

        &--address{
            display: inline-block;
            p{
                font-size: 1.2rem;

            }
        }
        &--social{
            svg{
                width: 40px;
                height: 40px;
                @include transition(.3s);
                &:hover{
                    @include opacity;
                }
            }
        }
        div:nth-child(n){
            margin-bottom: 2rem;
        }
        div:last-of-type{
            margin-bottom: 0rem;
        }
    }
	&__form{

    }
	&__gmap{
        height: 400px;
        margin-bottom: -50px;
        @include borderOnImage();
        @include box-shadow();
        padding: 0;
        border: 0;
        iframe{
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: 282px) and (max-width: 480px) { 
    
    .subpage-contact{
        .mb-5{
            font-size: 1.5rem;
            padding:0;
            margin-left: auto;
            margin-right: auto;
             &::after{
                display: none;
             }
        }
        &__address{
            padding-bottom: 100px;
        }
        &__form{
            .pt-5{
                .btn{
                    width: 70%;
                    margin-left: auto;
                }
                .show-input{
                    width: 70%;
                    margin-left: auto;
                    }
            }
        }
    }
}