#breadcrumbs{
    min-height: 255px;
    width: 100%;
    background-image: url('../images/breadcrumbs/salon-kosmetyczny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

    
    @media (max-width: 1199.98px) {
        
        height: 130px;
        min-height: auto;
    }


    .breadcrumbs-logo{
        position: absolute;
        bottom: -25px;
        left: calc(50% + 15px);
        background: #fff;
        width: 150px;
        height: 150px;
        transform: translateX(-50%);
        border-radius: 50%;
        
        img{
            padding-right: 15px;
            transform: scale(1.5);
            max-height: 200px;
        }
    }
}