section#cta{
    background-image: linear-gradient(rgba($primary,0.7),rgba($primary,0.65)),url(/images/cta/natura.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}