section#cta{
    @include background-image-linear-gradient('../images/cta/natura.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    margin-top: 0px;
                             @media (max-width: 575.98px) {
                                 margin-top: 10%;
                             }
                             @media (min-width: 576px) and (max-width: 767.98px) {
                                 margin-top: -10%;
                             }
                             @media (min-width: 768px) and (max-width: 991.98px) {
                                 margin-top: 5%;
                             }
                             @media (min-width: 992px) and (max-width: 1199.98px) {
                                 margin-top:10%;
                             }
                             @media (min-width: 1200px) {
                                margin-top: 13%;
                             }

}