section#cta{
    @include background-image-linear-gradient('../images/cta/natura.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
                 @media (max-width: 575.98px) {
                  top:0px;
                 }
}