#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    padding-top: 60px;
    padding-bottom: 60px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            display: inline-block;
            margin: 0 1rem;
            font-size: 1.2rem;
            &::after{
                content: '';
                position: relative;
                bottom: -5px;
                display: block;
                height: 2px;
                width: 0%;
                margin: auto;
                background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
                transition: .2s all ease-in-out;
                }

            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }

        li.logo-menu{
            margin: 0 2rem;
            width: auto;
            transition: .2s all ease-in-out;
            img{
                max-height: 50px;
            }
            &::after{
                display: none;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}