// body {
//     
// }
body > section,
body > main {
    padding-top: 100px;    
	padding-bottom: 100px;    
	
	p{
		font-size: 1rem;
	}
}

footer#footer{
	padding-top: 20px;    
	padding-bottom: 20px; 
}

.rotate-15{
	transform: rotate(-15deg);
}

.rotate15{
	transform: rotate(15deg);
}

.bottomLine{
	&::after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: -35px;
		transform: translateX(-50%);
		display: block;
		width: 260px;
		height: 2px;
		background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
	}
}