input:not([type='checkbox']):not([type="submit"]), textarea{
    display: block;
    width: 100%;
    min-height: 30px;
    margin-bottom: 2rem;
    border: 3px solid rgba($secondary,.4);
    background-color: rgba($primary,.1);

    &:focus {
        border: 3px solid rgba($secondary,.1);
    }

}
        input[type="checkbox"]{
            position: relative;
            
            &::before, &::after{
                display: block;
                width: 25px;
                height: 25px;
            }
            &::after{
                content: '';
                background: red;

                position: absolute;
                left: 0px;
                top: 0;
                transform: translate(-50%);
            }
            &::before{
                content: 'X';
                position: absolute;
                left: 0px;
                top: 0;
                transform: translate(-50%);
                z-index: 1;
                display: none
            }
            &:checked{
                &::after{
                    background: blue;
                }
                &::before{
                    display: block;
                }

            }
            &:hover{
                &::after{
                    background: pink;
                }
            }
        
        }