form{

  	.show-input {
		margin-bottom: 0rem;
		position: relative;
		width: 100%;
    
     	label {
			color: #999;
			padding: 1rem;
			position: absolute;
			top: 0;    
			left: 0;
			@include transition();
		}

     	 p{
        	  text-align: left;
          	margin-bottom: 1rem;
      	}
		  
		input:not([type='checkbox']):not([type="submit"]), textarea{
			display: block;
			width: 100%;
			min-height: 30px;
			background-color: rgba($primary,.1);

			padding: 1rem 1rem;
			border: 0; 
			font-size: 1rem;
            
			~ span {
				display: block;
				width: 0;
				height: 3px;
				background: $secondary;
				position: absolute;
				bottom: calc(1rem + 10px);
				left: 0;
				@include transition();
			}
          	&:focus {
				outline-width: 0;
				~ label {
					@extend %label-movement;
				}
				~ span {
					width: 100%;
					@include transition();
				}
          	}

          	&:valid ~ label{
            	  @extend %label-movement;
          	}
      	}
		  
		input[type="checkbox"]{
        	position: relative;
          
          	&::before, &::after{
				display: block;
				width: 25px;
				height: 25px;
          	}
         	&::after{
				content: '';
				background: red;
				position: absolute;
				left: 0px;
				top: 0;
				transform: translate(-50%);
			}
          	&::before{
				content: 'X';
				position: absolute;
				left: 0px;
				top: 0;
				transform: translate(-50%);
				z-index: 1;
				display: none
          	}
          	&:checked{
				&::after{
					background: blue;
				}
				&::before{
					display: block;
				}

          	}	
          	&:hover{
            	&::after{
                	  background: pink;
              	}
          	}
    	}
	  
		.e-validation{
			color: red;
			text-align: right;
			color: transparent;
      	}
  	}
}

%label-movement {
	font-size: 0.75em;
	color: #000;
	top: -2.25rem;
	@include transition();
}
